.rune_list{
    /* align-items: center;
    justify-content: space-between; */
    border: 1px solid lightgray !important;
    display: flex;
    justify-content: center !important;
    text-align: center !important;
}

.rune_icon{
    margin: 0;
}

.rune_name{
    max-width: min-content !important;
}